﻿@using BizsolTech.Chatbot.Models;
@model BusinessChatModel

@{
    ViewBag.Title = "Business Chat";
    Layout = "~/modules/BizsolTech.Chatbot/Views/Shared/Layout/_LayoutRoot.cshtml";
}

<div class="page-body">
    <partial name="Grids/_Grid.BusinessChat" model="null" />
</div>