@using BizsolTech.Chatbot.Models;
@model BusinessListModel

@{
    ViewBag.Title = "Business";
    Layout = "_AdminLayout";
    Assets.BodyAttributes.AppendCssClass("spa-layout");
}

<form method="post" asp-action="List">
    <div class="section-header">
        <div class="title">
            <i class="fa fa-user"></i>
            Business
        </div>
        <div class="options">
            <zone name="admin_button_toolbar_before" />

            <zone name="admin_button_toolbar_after" />
        </div>
    </div>
</form>

@{
    var gridViewData = new ViewDataDictionary(this.ViewData);
    gridViewData["Parent"] = Model;
}

<partial name="Grids/_Grid.Business" model="null" view-data="gridViewData" />
