@using BizsolTech.Chatbot.Models;

@model ConfigurationModel

@{
    Layout = "_ConfigureModule";
}

<widget target-zone="admin_button_toolbar_before">
    <button id="SaveConfigButton" type="submit" name="save" class="btn btn-warning" value="save">
        <i class="fa fa-check"></i>
        <span>Save</span>
    </button>
</widget>

<form asp-action="Configure">
    <input type="hidden" asp-for="ChatPromptId" />
    <div class="adminContent">
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="BucketName" />
            </div>
            <div class="adminData">
                <setting-editor asp-for="BucketName" />
                <span asp-validation-for="BucketName"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="AccessKey" />
            </div>
            <div class="adminData">
                <setting-editor asp-for="AccessKey" />
                <span asp-validation-for="AccessKey"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="SecretKey" />
            </div>
            <div class="adminData">
                <setting-editor asp-for="SecretKey" />
                <span asp-validation-for="SecretKey"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="FacebookCallbackUrlBase" />
            </div>
            <div class="adminData">
                <setting-editor asp-for="FacebookCallbackUrlBase" />
                <span asp-validation-for="FacebookCallbackUrlBase"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="ChatPrompt" />
            </div>
            <div class="adminData">
                <textarea asp-for="ChatPrompt" rows="10" placeholder="Place prompt here"></textarea>
                <span asp-validation-for="ChatPrompt"></span>
            </div>
        </div>
    </div>
</form>
