@{
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="display-3 text-primary">Welcome to BizSol Tech Chatbot</h1>
            <p class="lead text-muted">Revolutionizing Customer Interaction!</p>
            <hr class="my-4">
            <p class="text-dark">Say goodbye to the hassle of managing customer messages. Our innovative chatbot, powered by cutting-edge AI, is here to simplify your customer communication process. Focus on what you do best – running your business – while we take care of the rest!</p>
            <p class="text-info">Discover the Power of BizSol Tech Chatbot:</p>
            <ul class="list-unstyled">
                <li><span class="text-success">&#8226;</span> Instantly Respond to Customer Inquiries</li>
                <li><span class="text-success">&#8226;</span> Boost Customer Engagement with Automated Responses</li>
                <li><span class="text-success">&#8226;</span> Streamline Customer Support Effortlessly</li>
                <li><span class="text-success">&#8226;</span> Enhance Efficiency in Managing Customer Communications</li>
            </ul>
            <p class="text-warning">Ready to transform your customer interactions?</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Get Started Now!</a>
        </div>
    </div>
</div>