@using Microsoft.AspNetCore.Http;
@using BizsolTech.Chatbot.Models;
@model ChatInputModel

<style>
    .row {
        margin-bottom: 10px;
    }
</style>

<form method="post" asp-action="ChatInput" id="chat-input-form">
    <div class="admin-content">
        <div class="row">
            <div class="adminTitle col-md-3">
                <smart-label asp-for="WelcomeMessage" />
            </div>
            <div class="adminData col-md-9">
                <input asp-for="WelcomeMessage" />
                <span asp-validation-for="WelcomeMessage"></span>
            </div>
        </div>
        <div class="row">
            <div class="adminTitle col-md-3">
                <smart-label asp-for="BusinessDescription" />
            </div>
            <div class="adminData  col-md-9">
                <input asp-for="BusinessDescription" />
                <span asp-validation-for="BusinessDescription"></span>
            </div>
        </div>
        <div class="row">
            <div class="adminTitle col-md-3">
                <smart-label asp-for="Instructions" />
            </div>
            <div class="adminData col-md-9">
                <input asp-for="Instructions" />
                <span asp-validation-for="Instructions"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="admin-config-group">
                <div class="head">Documents</div>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminData wide">
                @Html.EditorFor(model => model.DocumentId, new
                {
                entityId = Model.Id,
                entityType = "ChatInput",
                transientUpload = false,
                album = "chat",
                multifile = true,
                deleteUrl = Url.Action("ChatInputDocumentDelete", "Business"),
                entityAssignmentUrl = Url.Action("ChatInputDocumentsAdd", "Business"),
                uploadedFiles = Model.Documents as IEnumerable<IFormFile>,
                typeFilter = "image,video"
                })
                <span asp-validation-for="DocumentId"></span>
            </div>
        </div>
        <div class="row" style="justify-content: flex-end;">
            <div class="col-md-2" style="text-align: right;">
                <button id="btn-next" class="btn btn-primary" type="submit">Next</button>
            </div>
        </div>
    </div>
</form>